# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Виртуальное окружение
.venv/
venv/
env/

# Переменные окружения
.env

# PyCharm
.idea/

# Миграции (если не хочешь их трекать — раскомментируй)
# migrations/

# Логи
*.log

# macOS
.DS_Store

# pytest
.pytest_cache/
.coverage
htmlcov/