<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SyncStudio{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&family=Syne:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
  <div class="noise"></div>
  {% if request.cookies.get('access_token') %}
  <header class="topbar">
    <a href="/dashboard" class="logo">sync<span>studio</span></a>
    <nav class="topbar-nav">
      <a href="/dashboard">комнаты</a>
      <a href="/auth/logout" class="btn-logout">выйти</a>
    </nav>
  </header>
  {% endif %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% block scripts %}{% endblock %}
</body>
</html>
